@charset "UTF-8";

h1 {
  font-size: 50px;
}

body {
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

a:link {
  color: #005585;
  text-decoration: none;
}
a:visited {
  color: #485270;
}
a:hover {
  color: #b83800;
  text-decoration: underline;
}

#main {
  text-align: center;
}

#to_shigi {
  font-size: 200%;
  text-decoration: underline;
}

#test_pages {
  border: solid 1px #000000;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

.test_url {
  text-decoration: underline;
}
